.app-container{
  display:flex;
}

.content{
  width:100%;
}

.sidebar{
   min-height: 730px;
   min-width: 200px;
}

.createPost{
  margin:10px;
  width:80%;
}

.post{
  margin:20px;
}

.hashtags{
  margin:2px;
}

.reaction{
  margin:10px 2px;
}