.kg-item{
  background-color: aqua;
  margin-left: 10px;
  margin-right: 10px;
}

.kg-span{
  font-weight: 600;
  color: brown;
}

.foodHeading{
  background-color: brown;
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  
}

.btn{
  float: right;
  color: white;
  font-weight: 500;
  font-style: italic;
  background-color: brown;
}

.list-group-item.active {
  background-color: white;
  border-color: white;
}

